/* General */
body {
    background-color: #000000;
}

@font-face {
    font-family: 'Uniform Pro';
    font-weight: 800;
    src: url('../fonts/Fontspring-DEMO-uniformpro-bld.otf');
}

@font-face {
    font-family: 'Uniform Pro';
    font-weight: 600;
    src: url('../fonts/Fontspring-DEMO-uniformpro-med.otf');
}

@font-face {
    font-family: 'Uniform Pro';
    font-weight: 400;
    src: url('../fonts/Fontspring-DEMO-uniformpro-reg.otf');
}

@font-face {
    font-family: 'Uniform Pro';
    font-weight: 200;
    src: url('../fonts/Fontspring-DEMO-uniformpro-thn.otf');
}

:root {
    --text: #ffffff;
    --subtitle: #d1d1d1;
    --sky-pink: #fe6e92;
    --gradient: linear-gradient(145deg, #FE7269 0%, #fe6e92 100%);
}

/* Contains the video element and sets root positioning */
.fullscreen-video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    filter: brightness(.5);
}

/* Video element that sets child positioning and size */
.fullscreen-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    filter: blur(10px);
}

/* App Wrapper */
.app-wrapper {
    margin-left: 15%;
    margin-right: 15%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Navigation Bar */
.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-container .nav-logo .logo {
    width: 14rem;
    height: auto;
}

.nav-container .nav-links a {
    color: var(--text);
    border-bottom: 2px solid transparent;
    font-family: 'Uniform Pro';
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1.5rem;
    text-decoration: none;
}

.nav-container .nav-links .active {
    font-weight: 800;
    color: var(--sky-pink);
}

.nav-container .nav-links a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--sky-pink);
    color: var(--sky-pink);
    transition: padding-bottom 0.2s, color 0.3s;
}

.nav-container .nav-cta a {
    background: var(--gradient);
    padding: 15px 30px;
    border-radius: 12px;
    color: var(--text);
    font-family: 'Uniform Pro';
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
}

/* Content */
.content {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* News */
.news h1 {
    font-family: 'Uniform Pro';
    font-size: 6rem;
    font-weight: 800;
    color: var(--text);
    margin: 0;
}

.news .entry {
    border-left: var(--sky-pink) 4px solid;
    border-radius: 12px;
    background-color: rgb(42, 39, 47, 0.45);
    max-width: fit-content;
    padding: 1rem;
    margin: 0.5rem 0;
}

.news .entry:hover {
    cursor: pointer;
    background-color: rgb(254, 110, 146, 0.1);
    transition: background-color 0.3s;
}

.news .entry .title {
    color: var(--text);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.news .entry .date {
    color: var(--sky-pink);
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

/* City Cards */
.cities h1 {
    font-family: 'Uniform Pro';
    font-size: 6rem;
    font-weight: 800;
    color: var(--text);
    margin: 0;
}

.cities .cards {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cities .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(42, 39, 47, 0.45);
    border-bottom: var(--sky-pink) 4px solid;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    padding: 1rem;
    width: 20rem;
    height: min-content;
    transition: transform 0.3s, background-color 0.3s;
}

.cities .card:hover {
    cursor: pointer;
    background-color: rgb(254, 110, 146, 0.1);
    transform: translateY(-0.5rem) scale(1.01);
    transition: transform 0.3s, background-color 0.3s;
}

.cities .card h1 {
    color: var(--text);
    font-family: 'Uniform Pro';
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.cities .card p {
    color: var(--text);
    font-family: 'Uniform Pro';
    font-size: 0.85rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.cities .card .card-actions {
    margin-top: 1rem;
}

.cities .card .card-actions p {
    color: var(--sky-pink);
    font-family: 'Uniform Pro';
    font-size: 0.85rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
}

.cities .card .card-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cities .card .card-right img {
    width: 4rem;
    height: auto;
}

/* media queries for when screen is below 1200px */
@media (max-width: 1200px) {
    .app-wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}